.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}

div.dt-processing {
    box-shadow: none !important;
    border: none !important;
    background-color: transparent !important;
}

input[readonly] {
    background-color: #f2f2f2;
}

input[readonly]:focus {
    background-color: #f2f2f2;
}